body {
    background-color: #6482AD;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 350%;
}
#div1 {
    background-color: #82a2c2;
}
#div2 {
    background-color: #B4D6CD;
}
#div3 {
    visibility: hidden;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 10px;
}
.button1, .button2, .button3, .button4, .button5 {
    background-color: white;
    color: black;
    border: 2px solid #7FA1C3;
}
.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover {
    background-color: #7FA1C3;
    color: white;
    border: 2px solid white;
}